<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
	">

<!--    <bean id="student" class="com.xx.jack.bean.Student">
        <property name="password" value="123"/>
    </bean>-->
    <context:component-scan base-package="com.xiangxue.jack"/>
</beans>